* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

p {
    padding-bottom: 30px;
    padding-top: 30px;
    
}
h1 {

    font-size: 70px;
    padding-bottom: 10px;
    
}

h3 {

    margin-bottom: 20px;
}

#freccia_grande {

    font-size: 50px;
}

.standard_button {

    background-color: rgb(71, 99, 253);
    height: 40px;
    color: white;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #646161;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    
}

.checkbox-round:checked {
    background-color: rgb(24, 74, 236);
}

span {

    padding: 5px;
}

#span1 {
    padding: 0px;
}

form {
    display:flex ;
    gap: 50px;
}


/* header */

header {
    /* background-color: aqua; */
    width: 100%;
    height: 80px;
    
    
    
    
    
}

a{
    text-decoration: none;
    color: black;
}

.div_header {

    display: flex;
    justify-content: space-between;
    
}
.nav_header {

    background-color: rgb(255, 255, 255);
    height: 80px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    
    
    
}

.normal_button {

    background-color: rgb(71, 99, 253);
    height: 32px;
    color: white;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main */




/* jumbo */

.macro_container_jumbo{

    background-color: #b4d0e6;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    
    

}

#img_jumbo {

    width: 100%;
    /* height: 100%; */
    padding-top: 30px;
    
}
.container_jumbo {

    /* background-color: orange; */
    width: 70%;
    /* height: 100%; */
    
}

.container_jumbo_title {

    /* background-color: red; */
    width: 100%;
    /* height: 20%; */
}

.container_jumbo_img_description{

    /* background-color: blue; */
    width: 100%;
    height: 80%;
    display: flex;
    
}

.container_jumbo_description {

    /* background-color: blueviolet; */
    width: 30%;
    
    
    
    /* height: 100%; */
    /* display: flex; */
    /* flex-direction: column;
    justify-content: space-around; */
}

.container_jumbo_image {

    /* background-color: bisque; */
    width: 70%;
    /* height: 100%; */
}

/* fine jumbo */

/* Inizio Parte piani Business */

.business_all_page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    

}

.business_page_container {

    /* background-color: blue; */
    /* height: 1000px; */
    width: 60%;
    margin-top: 100px;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: space-between; */
    
    
}

#checkbox_container {

    /* background-color: aqua; */
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    gap: 50px;
    
}

/* Piani tariffari */

.container_plan {


    width: 100%;
    height: 700px;
    /* background-color: rgb(10, 243, 111); */
    display: flex;
    justify-content: space-between;
    /* border: grey solid 1px; */
    
    

}

.section_plans {

    width: 30%;
    /* height: 100%;  */
    /* background-color: red; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
   
    
    border: 1px solid grey;
    
    
    
    
}

.mini_container{

    /* background-color: yellow; */
    width: 100%;
    /* height: 5%; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    
    
 
    
}

.plans_cost {

    /* background-color: blue; */
    width: 100%;
    /* height: 15%; */
    margin-top: 40px;
    margin-left: 20px;
    /* display: flex;
    flex-direction: column; */
    gap: 15px;
    
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-between; */

    
}


#big_box_plans{

    display: flex;
    justify-content: space-between;
    
    
    gap: 10px;




    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    


}

.small_logos_box {

    /* background-color: blue; */
    width: 10%;
    /* margin-top: 40px;
    margin-left: 20px; */
    display: flex;
    flex-direction: column;
    gap: 60px
    
    
    
}

.small_logo_description_box {

    /* background-color: #646161; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px
    
    



}

/* enterprise box */

.mini_container_enterprise{

    /* background-color: yellow; */
    width: 60%;
    /* height: 5%; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    margin-top: 50px;
    
    
    
    
    
 
    
}

.enterprise_contact_box{

    /* background-color: blue; */
    width: 60%;
    /* height: 500px; */
    /* margin-top: 50px; */
    border: grey 1px solid;
    display: flex;
    margin-bottom: 100px;
    

    


}

.enterprise_box_form {

    /* background-color: blueviolet; */
    width: 70%;
    /* height: 100%; */
    margin-top: 25px;
    margin-left: 25px;
    /* margin-right: 25px; */

    
}

#enterprise_button_box {

    /* background-color: red; */
    width: 30%;
    /* height: 100%; */
    margin-top: 25px;
    margin-left: 25px;
    display:flex ;
    justify-content: center;

    
    
}

#man_image_box {

    width: 60%;
    height: 100%;
    /* background-color: orange; */

}

#find_partner_box {

    width: 40%;
    height: 100%;
    /* background-color: rgb(255, 0, 0); */
    margin-left: 30px;
    margin-top: 30px;
}

.img_size {

    
    width: 100%;
    /* height: 40%; */
}

#find_partner_button{

    
    border: gray 1px solid;   
    padding: 8px;
    
}

/* Quarto blocco main */


.explain_dropbox_boxes{

    /* background-color: blue; */
    width: 60%;
    /* height: 1000px; */
    margin-top: 50px;
    /* border: grey 1px solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-bottom: 100px; */
    
}

.six_image_boxes {

    width: 30%;
    /* background-color: orange; */
    
    margin-bottom: 50px;
    
    /* height: 100%; */
}


